<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rmit.mad.project">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".view.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.TrackableDetailActivity"
            android:label="@string/title_activity_trackable_detail" />
        <activity
            android:name=".view.TrackingCreateActivity"
            android:label="@string/tracking_create_activity_title" />
        <activity
            android:name=".view.TrackingEditActivity"
            android:label="@string/tracking_edit_activity_title" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDw9DNZxB0XgnSRnAK_IgZKmTdjwLp76WI" />

        <activity
            android:name=".view.SettingsActivity"
            android:label="@string/settings_activity_settings" />
        <activity
            android:name=".view.TrackingSuggestionActivity"
            android:label="@string/title_activity_tracking_suggestion"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleTask"/>

        <service
            android:name=".service.SuggestionService"
            android:enabled="true"/>
        <service
            android:name=".service.NotificationService"
            android:enabled="true"/>
    </application>

</manifest>