<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rmit.mad.project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.TrackableDetailActivity"
            android:label="@string/title_activity_trackable_detail"/>

        <activity
            android:name=".controller.TrackingCreateActivity"
            android:label="@string/tracking_create_activity_title"/>

        <activity
            android:name=".controller.TrackingEditActivity"
            android:label="@string/tracking_edit_activity_title"/>
    </application>

</manifest>